# Python Cache
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints

# Environments
.env
.env.local
venv/
.venv/
env/
ENV/

# OS-specific files
.DS_Store
Thumbs.db

# Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
agy.txt
